div {
    display: block;
}

.checkout_column {
    float: left;
    width: calc(33.33333% - 10px)
}

.checkout_column {
    background: #fff;
    padding: 0;
    border-bottom: 15px solid #eee;
    margin: 0 auto;
    max-width: 730px;
}

.checkout-container {
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
}