body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

/* Basic styling for the body */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
}

/* Header styling */
header {
    background-color: #f0650e;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

/* Navigation styling */
nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
}

/* Main content styling */
main {
    padding: 20px;
}

/* Footer styling */
footer {
    background-color: #0d45b5;
    color: white;
    padding: 10px;
    text-align: center;
}

/* Logo styling */
.rrvlogo {
    width: 5%;
}

/* Featured Products styling */
.featured-products, .all-products {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

/* Product Card styling */
.product-card {
    max-width: 200px;
    flex: 0 0 auto;
    margin-right: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

.featured-products, .all-products {
    overflow-x: auto;
    white-space: nowrap;
}

.featured-products .product-card,
.all-products .product-card {
    margin-right: 10px;
}

.product-card img {
    max-width: 100%;
}

@media (max-width: 768px) {
    .product-card {
        width: 100%;
        margin-right: 0;
    }
}

.cart-items {
    max-width: 800px;
    margin: 0 auto;
}

/* Cart Item styling */
.cart-item {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

.cart-item img {
    max-width: 20%;
}

/* Button styling */
.product-card button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.product-card button:hover {
    background-color: #45a049;
}