/* default_style.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #FFA500;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

.left-aligned-image {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* about_style.css */

main p {
    font-size: 18px;
    line-height: 1.5;
    color: #333;
}

/* Add additional styles as needed */
