/* terms_style.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FFA500; /* Dark Blue Background Color */
    color: #FFA500; /* Orange Text Color */
}

header {
    background-color: #FFA500; /* Orange

